* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: rgb(211, 221, 239);
    font-family: 'Chakra Petch', sans-serif;

}

.nav {
    display: flex;
    flex-direction: row;
    margin: 15px;
    padding-bottom: 15px;
    justify-content: space-between;
    border-bottom: 2px solid rgb(125, 125, 125);
    font-size: 20px;
}

.nav-a {
    padding-right: 20px;
}

.nav-tools {
    margin: 5px 0 0 20px;
}

ul {
    list-style: none;
}


.header-bottom {
    padding-top: 10px;
}

.search {
    width: 50vw;
    padding: 7px;
    background-color: #99a2b8;
    border-radius: 7px;
    border: 0.6px solid black;
}

.button-search {
    background-color: #99a2b8;
    padding: 5px 7px;
    border-radius: 7px;
    border: 0;
    transform: translateY(4px);
}

.search-glass {
    font-size: 24px;
    background-color: #99a2b8;
}

.top-bar-icons {
    padding: 20px;
    font-size: 20px;
}

.header-img {
    padding: 0 80px;
    border-radius: 5px;
}

.head-img {
    width: 100%;
    border-radius: 5px;
    height: 600px;
}

.main-card {
    display: flex;
    flex-direction: row;
}


.card {
    color: black;
    width: 130px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    margin: 40px;
    /* padding: 10px; */
    /* margin-left: 20px; */
}


.tavsiya {
    padding: 0 80px;
    margin-top: 90px;
}

.kopsotilgan {
    padding: 0 80px;
    margin-top: 90px;
}

.ad-card {
    background-color: #c8d6e1;
    display: inline-block;
    border: 1px solid #acd1ef;
    width: 300px;
    margin: 20px 5px;
    border-radius: 12px;
    overflow: hidden;
    margin-left: 35px;
}

.ad-card img {
    width: 100%;
    height: 350px;
}

.detail {
    font-weight: bold;
    padding: 10px;
}

.stars {
    padding: 10px;
}

.des {
    padding: 8px;
    font-size: 20px;
}

.price {
    padding: 10px;
}

.text {
    text-align: center;
}

.button {
    background-color: rgb(0, 200, 0);
    color: white;
    border: none;
    padding: 9px 10px;
    cursor: pointer;
    border-radius: 4px;
}

.bottom-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.bottom-cart {
    font-size: 24px;
    padding: 0 10px 10px 0;
}
/* detail.html */
.header {
    padding: 20px;
    padding-left: 80px;
    background-color: #77bdbd;
}

a {
    text-decoration: none;
}

.top-bar-items {
    display: inline-block;
    padding: 10px;
    margin-right: 160px;
}
.search {
    width: 50vw;
    padding: 7px;
}

.fa-magnifying-glass {
    background-color: #002f34;
    color: #fff;
    padding: 8px;
    border-radius: 5px;
}

.top-bar-icons {
    padding: 20px;
    font-size: 20px;
}


.head-container {
    display: flex;
    flex-direction: row;
}

.head-img {
    margin: 80px 50px;
    width: 30%;
    height: 450px;
    border-radius: 14px;
}

.head-info {
    margin: auto;
    width: 40%;
    height: 400px;
    /* background-color: rgb(241, 245, 251); */

}

.head-p {
    font-size: 30px;
    margin-bottom: 30px;
}
.star {
    color: rgb(244, 119, 88);
    margin-bottom: 20px;
}

.price {
    font-family: 'Chakra Petch', sans-serif;
    color: brown;
    font-size: 25px;
}

.auth {
    display: inline;
    border-radius: 6px;
    padding: 3px 10px;
    background-color: rgb(96, 101, 110);
}

.auth-a {
    color: #9b9b9b;
    text-decoration: none;
}

.auth-a:hover {
    color: #7d7e7f;
    text-decoration: none;
}

.model {
    margin-top: 8px;
    font-size: 17px;
}

.dot {
    color: rgb(3, 174, 3);
    margin-bottom: 30px;
}

.head-card {

    margin: auto;
}

#button-buy {
    margin-right: 10px;
}

.card-vote1 {
    background-color: aliceblue;
    border-radius: 14px;
    padding: 14px 30px;
    font-size: 20px;
    margin-right: 40px;
}

.vote-a {
    text-decoration: none;
    color: #7d7e7f;
}

a {
    text-decoration: none;
    color: rgb(16, 16, 77);

}

a:hover {
    color: rgb(4, 114, 61);
}

.respon {
    background-color: rgb(170, 211, 248);
    border-radius: 10px;
    padding: 3px 12px;
    text-decoration: none;
}

.share {
    margin: 50px 40px 0 0;
    background-color: aliceblue;
    border-radius: 12px;
    text-align: center;
}

.share-p {
    font-size: 17px;
    font-family: 'Comfortaa', cursive;
    color: rgb(15, 0, 98);
}

.share-img {
    width: 160px;
    height: 200px;
}

.share-name {
    margin-top: 10px;
    font-size: 17px;
    color: rgb(0, 0, 56);

}

.price-share {
    font-family: 'Gruppo', sans-serif;
    font-size: 19px;
    padding-bottom: 10px;
}

.description-product {
    background-color: rgb(246, 250, 253);
    border-radius: 12px;
    margin: 40px;
}

.desc-info {
    font-size: 30px;
    padding:10px 0 0 20px;

}

.desc-p {
    font-size: 20px;
    /* font-family: 'Poiret One', cursive; */
    padding: 0 10px 10px 10px;
}