* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



body {
    background-color: rgb(230, 237, 249);
    font-family: 'Chakra Petch', sans-serif;

}

.search-h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    font-size: 40px;
}

.search-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(116, 122, 133);
    border-radius: 14px;
    margin: 10px 100px;
} 

.search-img {
    width: 100px;
    height: 120px;
    border-radius: 20%;
}

a {
    text-decoration: none;
    color: black;
}

.search-title {
    font-size: 30px;
    margin: 40px 80px;
}

.search-price {
    font-size: 30px;
    margin: 40px 80px;
}
