{% extends 'pages/base.html' %}

{% block heading %}
<title>Detail Page</title>
<!-- cdn fontgoogle -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Chakra+Petch:ital@0;1&family=Comfortaa&family=Gruppo&family=Poiret+One&display=swap" rel="stylesheet">

<!-- cdn fontawesome -->
<script src="https://kit.fontawesome.com/d5b5e10b1b.js" crossorigin="anonymous"></script>

<!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock heading %}

{% block content %}
<div class="header">
<div class="header-bottom">
    <div class="top-bar-items">
        <input class="search" type="search" placeholder="Search"><i class="fa-solid fa-magnifying-glass"></i>
    </div>
    <div class="top-bar-items">
        <a href=""><i class="fa-solid fa-phone top-bar-icons"></i></a>
        <a href=""><i class="fa-solid fa-thumbtack top-bar-icons"></i></a>
        <a href=""><i class="fa-regular fa-user top-bar-icons"></i></a>
        <a href=""><i class="fa-solid fa-bag-shopping top-bar-icons"></i></a>
    </div>
</div>
</div>
<div class="head-container">
    <img src="{{ item.product_img.url }}" alt="" class="head-img">
    <div class="head-info">
        <p class="head-p">{{ product_name }}</p>
        <p class="star"><i class="star fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
        <p class="price">{{ item.price }} so'm</p>
        <p class="model">Yashash Joyi: {{ item.location }}</p>
        <p class="model">Telefon raqami: {{ item.phone_number }}</p>

        <p class="active">Holati: <i class="dot fa-solid fa-circle-notch">  Sotuvda bor</i> </p>
        <button id="button-buy" type="submit" class="btn btn-outline-primary">Sotib Olish</button>
        <button id="button like" type="submit" class="btn btn-primary">Saralarga qo'shish</button>
        <a href="/"><button class="btn btn-secondary">Bosh sahifaga o'tish</button></a>
    </div>

    <div class="head-share">
        <div class="share">
            <p class="share-p">Tavfsiya</p>
            <a href="" class="img-share"><img src="https://assets.asaxiy.uz/product/items/desktop/43ec517d68b6edd3015b3edc9a11367b20230915155724224092IT43sJYsL.png" alt="" class="share-img"></a>
            <p class="share-name"><a href="" class="share-name">Hoco EW38 qora simsiz quloqchini</a></p>
            <p class="price-share"><a class="price-share" href="">209 000 so'm </a></p>
        </div>
        <div class="head-card">
            <p class="vote-text">Ovoz berishingiz mumkin!</p>
            <p class="card-vote1"><a href=""><i class="fa-solid fa-square-check"></i> Sotib oldim</a> <a href="" class="respon">1</a></p>
            <p class="card-vote1"><a href=""><i class="fa-solid fa-hourglass-half"></i>  Sotib olmoqchiman</a> <a href="" class="respon">1</a></p>
            <p class="card-vote1"><a href=""><i class="fa-solid fa-thumbs-up"></i> Tavfsiya qilaman</a> <a href="" class="respon">1</a></p>
        </div>
    </div>
</div>

<div class="description-product">
    <p class="desc-info">Mahsulot ta'rifi</p>
    <p class="desc-p">{{ item.description }}</p>
</div>
{% endblock content %}
