{% extends 'pages/base.html' %}

{% block heading %}
<title>Detail Page</title>
<style>
    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
            padding: 20px;
            padding-left: 80px;
            background-color: #f7f8f8;
        }

        a {
            text-decoration: none;
        }

        .top-bar-items {
            display: inline-block;
            padding: 10px;
            margin-right: 160px;
        }
.search {
            width: 50vw;
            padding: 7px;
        }

        .fa-magnifying-glass {
            background-color: #002f34;
            color: #fff;
            padding: 8px;
            border-radius: 5px;
        }

        .top-bar-icons {
            padding: 20px;
            font-size: 20px;
        }

body {
    background-color: rgb(230, 237, 249);
    font-family: 'Baloo 2', cursive;

}
.head-container {
    display: flex;
    flex-direction: row;
}

.head-img {
    margin: 80px 50px;
    width: 30%;
    height: 450px;
    border-radius: 14px;
}

.head-info {
    margin: auto;
    width: 40%;
    height: 400px;
    /* background-color: rgb(241, 245, 251); */

}

.head-p {
    font-size: 30px;
    margin-bottom: 30px;
}
.star {
    color: rgb(244, 119, 88);
    margin-bottom: 20px;
}

.price {
    font-family: 'Chakra Petch', sans-serif;
    color: brown;
    font-size: 25px;
}

.model {
    margin-top: 8px;
    font-size: 17px;
}

.dot {
    color: rgb(3, 174, 3);
    margin-bottom: 30px;
}

.head-card {

    margin: auto;
}

#button-buy {
    margin-right: 10px;
}

.card-vote1 {
    background-color: aliceblue;
    border-radius: 14px;
    padding: 14px 30px;
    font-size: 20px;
    margin-right: 40px;
}

a {
    text-decoration: none;
    color: rgb(16, 16, 77);

}

a:hover {
    color: rgb(4, 114, 61);
}

.respon {
    background-color: rgb(170, 211, 248);
    border-radius: 10px;
    padding: 3px 12px;
}

.share {
    margin: 50px 40px 0 0;
    background-color: aliceblue;
    border-radius: 12px;
    text-align: center;
}

.share-p {
    font-size: 17px;
    font-family: 'Comfortaa', cursive;
    color: rgb(15, 0, 98);
}

.share-img {
    width: 160px;
    height: 200px;
}

.share-name {
    margin-top: 10px;
    font-size: 17px;
    color: rgb(0, 0, 56);

}

.price-share {
    font-family: 'Gruppo', sans-serif;
    font-size: 19px;
    padding-bottom: 10px;
}

.description-product {
    background-color: rgb(246, 250, 253);
    border-radius: 12px;
    margin: 40px;
}

.desc-info {
    font-size: 30px;
    padding:10px 0 0 20px;

}

.desc-p {
    font-size: 20px;
    /* font-family: 'Poiret One', cursive; */
    padding: 0 10px 10px 10px;
}
</style>
<!-- cdn fontgoogle -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Baloo+2&family=Chakra+Petch:ital@0;1&family=Comfortaa&family=Gruppo&family=Poiret+One&display=swap" rel="stylesheet">

<!-- cdn fontawesome -->
<script src="https://kit.fontawesome.com/d5b5e10b1b.js" crossorigin="anonymous"></script>

<!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
{% endblock heading %}

{% block content %}
<div class="header">
        <div class="header-bottom">
            <div class="top-bar-items">
            </div>
            <div class="top-bar-items">
                <input class="search" type="search" placeholder="Search"><i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <div class="top-bar-items">
                <a href=""><i class="fa-solid fa-phone top-bar-icons"></i></a>
                <a href=""><i class="fa-solid fa-thumbtack top-bar-icons"></i></a>
                <a href=""><i class="fa-regular fa-user top-bar-icons"></i></a>
                <a href=""><i class="fa-solid fa-bag-shopping top-bar-icons"></i></a>
            </div>
        </div>
    </div>
        <div class="head-container">
            <img src="{{ advertise.img.url }}" alt="" class="head-img">
            <div class="head-info">
                <p class="head-p">{{ advertise.description }}</p>
                <p class="star"><i class="star fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i><i class="fa-solid fa-star"></i></p>
                <p class="price">{{ advertise.price }} so'm</p>
                <p class="model">Yashash Joyi: {{ advertise.location }}</p>
                <p class="model">Telefon raqami: {{ advertise.phone_number }}</p>

                <p class="active">Holati: <i class="dot fa-solid fa-circle-notch">  Sotuvda bor</i> </p>
                <button id="button-buy" type="submit" class="btn btn-outline-primary">Sotib Olish</button>
                <button id="button like" type="submit" class="btn btn-primary">Saralarga qo'shish</button>
                <a href="/"><button class="btn btn-secondary">Bosh sahifaga o'tish</button></a>
            </div>

            <div class="head-share">
                <div class="share">
                    <p class="share-p">Tavfsiya</p>
                    <a href="" class="img-share"><img src="https://assets.asaxiy.uz/product/items/desktop/43ec517d68b6edd3015b3edc9a11367b20230915155724224092IT43sJYsL.png" alt="" class="share-img"></a>
                    <p class="share-name"><a href="" class="share-name">Hoco EW38 qora simsiz quloqchini</a></p>
                    <p class="price-share"><a class="price-share" href="">209 000 so'm </a></p>
                </div>
                <div class="head-card">
                    <p class="vote-text">Ovoz berishingiz mumkin!</p>
                    <p class="card-vote1"><a href=""><i class="fa-solid fa-square-check"></i> Sotib oldim</a> <a href="" class="respon">1</a></p>
                    <p class="card-vote1"><a href=""><i class="fa-solid fa-hourglass-half"></i>  Sotib olmoqchiman</a> <a href="" class="respon">1</a></p>
                    <p class="card-vote1"><a href=""><i class="fa-solid fa-thumbs-up"></i> Tavfsiya qilaman</a> <a href="" class="respon">1</a></p>
                </div>
            </div>
        </div>

        <div class="description-product">
            <p class="desc-info">Mahsulot ta'rifi</p>
            <p class="desc-p">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Autem deleniti fugiat officiis beatae vel similique dolor ab iusto quo fuga aut, nam reprehenderit ipsam obcaecati atque ex ratione quis optio, ipsum et quas non dolorum, sequi minima? Impedit consequuntur laboriosam neque iusto? Earum, repellendus! Iste enim dicta odio earum! Quidem officia obcaecati laudantium, accusantium, incidunt voluptas nostrum culpa mollitia delectus dignissimos praesentium minus, tempora quis impedit nam voluptates? Harum, corporis. Modi illo voluptatem tenetur commodi tempore? Officia delectus ullam quaerat. Cumque in tempore placeat odit deserunt repudiandae, sit impedit.</p>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
{% endblock content %}