{% extends 'pages/base.html' %}

{% block heading %}
    <title>OLX</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

{% endblock heading %}


{% block content %}
<div class="header">
    <div class="header-bottom">
        <div class="top-bar-items">
            <a href="new/"><i class="fa-solid fa-square-plus top-bar-icons"></i></a>
            <a href=""><i class="fa-regular fa-bookmark top-bar-icons"></i></a>
            <a href=""><i class="fa-solid fa-cart-shopping top-bar-icons"></i></a>
            <a href="signup/">Sign Up</a>
        </div>
        <div class="top-bar-items">
            <input class="search" type="search" placeholder="Search"><i class="fa-solid fa-magnifying-glass"></i>
        </div>
    </div>
</div>

<div>
    <div class="main-card">
        <div class="card">
            <a href="{% url 'quron' %}">
                <img src="https://qamar.uz/cdn/shop/files/Group_7_180x.png?v=1671615373">
                <p>Qur'oni Karim</p>
            </a>
        </div>
        <div class="card">
            <a href="{% url 'kitoblar' %}">
                <img src="https://qamar.uz/cdn/shop/files/Group_8_180x.png?v=1671615373">
                <p class="kitoblar">Kitoblar</p>
            </a>
        </div>
        <div class="card">
            <a href="{% url 'ibodat' %}">
                <img src="https://qamar.uz/cdn/shop/files/Group_9_180x.png?v=1671615373">
                <p>Ibodat anjomlari</p>
            </a>
        </div>
        <div class="card">
            <a href="{% url 'uyoffis' %}">
                <img src="https://qamar.uz/cdn/shop/files/Group_10_180x.png?v=1671615373">
                <p>Uy va ofis uchun</p>
            </a>
        </div>
        <div class="card">
            <a href="{% url 'sovga' %}">
                <img src="https://qamar.uz/cdn/shop/files/Group_11_180x.png?v=1671615373">
                <p>Sovg'a to'plamlari</p>
            </a>
        </div>
        <div class="card">
            <a href="{% url 'parfyum' %}">
                <img src="https://qamar.uz/cdn/shop/files/Photo_1_180x.png?v=1671615416">
                <p>Parfyum va kasmetika</p>
            </a>
        </div>
        <div class="card">
            <a href="{% url 'gozallik' %}">
                <img src="https://qamar.uz/cdn/shop/files/Photo-1_180x.png?v=1671615416">
                <p>Go'zallik</p>
            </a>
        </div>

    </div>
</div>

<div class="tavsiya">
    <h1 class="text">Yangi mahsulotar</h1>
    <div>
        {% for i in item %}
            <div class="ad-card">
                <img src="{{ i.product_img.url }}">
                <a class="detail" href="ad/{{ i.id }}"><p class="des">{{ i.product_name }}</p></a>
                <div class="stars">
                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                </div>
            <div class="price">
                <p>{{ i.price }} so'm</p>
            </div>
                <a href="ad/{{ i.id }}"><button class="button" type="submit">XARID QILISH</button></a>
            </div>
        {% endfor %}
    </div>
</div>

    <!-- <div class="kopsotilgan">
        <h1 class="text">Eng kop sotilgan</h1>
        <div>
            <div class="ad-card">
                <div>
                    <img src="https://qamar.uz/cdn/shop/products/5d0bfe6d-3f96-40cb-a4e3-722ea18f1c9b_360x.jpg?v=1678092795">
                </div>
                <div>
                <a class="detail" href=""><p class="des">Mening ramazon...</p></a>
                </div>
                <div class="stars">
                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                </div>
            <div class="price">
                <p>
                    58 000 so'm
                </p>
            </div>
                <a href=""><button class="button" type="submit">XARID QILISH</button></a>
            </div>

            <div class="ad-card">
                <div>
                    <img src="https://qamar.uz/cdn/shop/files/Halqa_360x.png?v=1685514927">
                </div>
                <div>
                <a class="detail" href=""><p class="des">Xalqa</p></a>
                </div>
                <div class="stars">
                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                </div>
            <div class="price">
                <p>
                    60 000 so'm
                </p>
            </div>
                <a href=""><button class="button" type="submit">XARID QILISH</button></a>
            </div>

            <div class="ad-card">
                <div>
                    <img src="https://qamar.uz/cdn/shop/files/Tongisuhbatlar_360x.png?v=1685520110">
                </div>
                <div>
                <a class="detail" href=""><p class="des">Tonggi suhbatlar</p></a>
                </div>
                <div class="stars">
                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                </div>
            <div class="price">
                <p>
                    45 000 so'm
                </p>
            </div>
                <a href=""><button class="button" type="submit">XARID QILISH</button></a>
            </div>

            <div class="ad-card">
                <div>
                    <img src="https://qamar.uz/cdn/shop/products/1a812c07-018d-46ae-afb2-78ddddf2367b_360x.jpg?v=1678092980">
                </div>
                <div>
                <a class="detail" href=""><p class="des">Islom umatining...</p></a>
                </div>
                <div class="stars">
                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                </div>
            <div class="price">
                <p>
                    138,000 so'm
                </p>
            </div>
                <a href=""><button class="button" type="submit">XARID QILISH</button></a>
            </div>

            <div class="ad-card">
                <div>
                    <img src="https://qamar.uz/cdn/shop/files/qalb_360x.png?v=1682596197">
                </div>
                <div>
                <a class="detail" href=""><p class="des">Qalb iffati</p></a>
                </div>
                <div class="stars">
                    <p>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </p>
                </div>
            <div class="price">
                <p>
                    42 000 so'm
                </p>
            </div>
                <a href="https://qamar.uz/"><button class="button" type="submit">XARID QILISH</button></a>
            </div>
        </div>
    </div> -->

{% endblock content %}